{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<title> {{ pagetitle }}</title>
{% endblock %}

{% block pagename %}pagename{% endblock %}

{% block head %}
	<script language="JavaScript">
		var messimsg;
		var messititle;
		var titleanimation;
		
		$(document).ready(function() {
			if ((".divmessage").length) {
				$(".divmessage").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800).fadeOut('slow'); 
			}
			
			if ((".diverror").length) {
				$(".diverror").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800); 
			}
		
		displayActiveCHWDetails();

		});



		function displayActiveCHWDetails(){
			$('#div_active_chw').append('<p><b></b></p>' +

								'<div style="clear:both; height:10px;"></div>' +

								'<table id="tblactiveCHWs" class="table table-striped table-bordered table-condensed">');
								
								$('#tblactiveCHWs').append('<thead>' +
									'<th>{% trans "Province" %}</th><th>{% trans "District" %}</th><th>{% trans "CDS" %}</th><th>{% trans "Hill" %}</th><th>{% trans "Sub Hill" %}</th><th>{% trans "Phone CHW" %}</th><th>{% trans "Last seen date" %}</th>' +
								'</thead>' +
									
								'<tbody>' +
									
								'</tbody>');

			var active_chws = "{{rows|escapejs}}";
			var table_data = JSON.parse(active_chws);

			var province, district, cds, hill, sub_hill, chw_phone, last_seen;

			for(i=0; i<table_data.length; i++){

				province = table_data[i]["province_name"];
				district = table_data[i]["district_name"];
				cds = table_data[i]["cds_name"];
				hill = table_data[i]["colline_name"];
				sub_hill = table_data[i]["sub_colline_name"];
				chw_phone = table_data[i]["phone_number"];
				last_seen = table_data[i]["last_seen"];


				$('#tblactiveCHWs').find('tbody').append('<tr style="cursor:pointer;"></tr>');

				$('#tblactiveCHWs tr:last').append('<td>' + province +'</td>');
				$('#tblactiveCHWs tr:last').append('<td>' + district +'</td>');
				$('#tblactiveCHWs tr:last').append('<td>' + cds +'</td>');
				$('#tblactiveCHWs tr:last').append('<td>' + hill +'</td>');
				$('#tblactiveCHWs tr:last').append('<td>' + sub_hill +'</td>');
				$('#tblactiveCHWs tr:last').append('<td>' + chw_phone +'</td>');
				$('#tblactiveCHWs tr:last').append('<td>' + last_seen +'</td>');

			}

			$('#tblactiveCHWs').DataTable({
										dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
											"<'row'<'col-sm-12'tr>>" +
											"<'row'<'col-sm-4'B><'col-sm-8'p>>",
										pagingType: "full_numbers",
										lengthMenu: [
								            [10, 25, 50, 100, -1 ],
								            ['10', '25', '50', '100', 'All' ]
								        ],
								        buttons: [
								            'copy', 'csv', 'excel', 'pdf', 'print'
								        ]
									});


		}
	</script>
{% endblock %}



{% block container %}
	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}

		<div id="div_active_chw" class="form-inline" style="padding-left :5px; padding-right :5px;">
		<p><b>
		<center>{{selected_vaccination}} Active CHWs</center>
		</b></p>

		<!--{{data}}-->

		</div>

	</div>
{% endblock %}