{% load i18n %}
{% load staticfiles %}

<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="csrf_token" content="{{ csrf_token }}">
		
		<title>UNICEF BURUNDI | {% if pagetitle %} | {{ pagetitle }}{% endif %}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oxygen:300">
		
		<!-- Highcharts
		<script src="https://github.highcharts.com/master/highcharts.src.js"></script>
		<script src="https://github.highcharts.com/master/highcharts-more.js"></script>
		<script src="https://github.highcharts.com/master/modules/exporting.src.js"></script> -->
		<script src="http://code.highcharts.com/highcharts.js"></script>
		<script src="http://code.highcharts.com/highcharts-more.js"></script>
		<script src="http://code.highcharts.com/modules/exporting.js"></script>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!-- dataTable CSS-->
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.0.1/css/responsive.bootstrap.min.css">
		
		<!-- dataTable JS -->
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/responsive/2.0.1/js/dataTables.responsive.min.js"></script>
		<script src="https://cdn.datatables.net/responsive/2.0.1/js/responsive.bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.bootstrap.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.flash.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
		<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
		<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
		<script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.print.min.js"></script>

		<!-- Local css -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'js/Messi-master/messi.min.css' %}">
		
		<!-- Local js -->
		<script type="text/javascript" src="{% static 'js/Messi-master/messi.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/spin.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/sonic.js-master/src/sonic.js' %}"></script>

		{% block head %}
		
		{% endblock %}
		
		<script language="JavaScript">
			var csrftoken = getCookie('csrftoken');
			
			$(document).ready(function() {
				
				$("input:submit, a.button").button();
				{% if notification %}
					showNotification("{{ notification }}");
				{% endif %}
				
				if (!window.jQuery) {
					messiprompt("Your internet connection is not reliable. Computations not possible.", "Internet Connection", "messierror");
					return;
				}
			});
		    // using jQuery
			function getCookie(name) {
			    var cookieValue = null;
			    if (document.cookie && document.cookie !== '') {
			        var cookies = document.cookie.split(';');
			        for (var i = 0; i < cookies.length; i++) {
			            var cookie = jQuery.trim(cookies[i]);
			            // Does this cookie string begin with the name we want?
			            if (cookie.substring(0, name.length + 1) === (name + '=')) {
			                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			                break;
			            }
			        }
			    }
			    return cookieValue;
			}
			function csrfSafeMethod(method) {
			    // these HTTP methods do not require CSRF protection
			    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			function messiprompt(msg, title, titleanimation) {
				var titleclass;
				if (titleanimation == "messisuccess") {
					titleclass = 'success';
				} else if (titleanimation == "messiinfo") {
					titleclass = 'info';
				} else if (titleanimation == "messiwarning") {
					titleclass = 'anim warning';
				} else if (titleanimation == "messierror") {
					titleclass = 'anim error';
				}
				new Messi(msg, { title: title, titleClass: titleclass, modal: true });
			}
			function getajaxerrormessage(jqXHR, exception) {
		        var msg = "An error has occured";
		        if (jqXHR.status == 0) {
		            msg = "0";
		        } else if (jqXHR.status == 404) {
		            msg = "404";
		        } else if (jqXHR.status == 500) {
		            msg = "500";
		        } else if (exception == 'parsererror') {
		            msg = "parsererror";
		        } else if (exception == 'timeout') {
		            msg = "timeout";
		        } else if (exception == 'abort') {
		            msg = "abort";
		        } else {
		            msg = "Error" + ": " + jqXHR.responseText;
		        }
		        return msg;
		    }
			function initializesonic() {
		        $('#overlay').remove();
		        $("body").prepend("<div id='overlay' class='web_dialog'></div>");
		        $("#overlay").css({
		            "width": $(document).width(),
		            "height": $(document).height(),
		        }).fadeTo(0, 0.9);
		        modal = $('#overlay').dialog({
		            modal: true,
		            closeOnEscape: false,
		            beforeClose: function (event, ui) { return false; },
		            dialogClass: "noClose",
		            height: "auto",
		            width: "auto"
		        }).dialog("widget").find(".ui-dialog-titlebar").remove();
		        playSonic();
		    }
			function playSonic() {
		        var circle = new Sonic({
		            width: 100,
		            height: 100,
		            stepsPerFrame: 1,
		            trailLength: 1,
		            pointDistance: .02,
		            fps: 30,
		            fillColor: '#05E2FF',
		            step: function (point, index) {
		                this._.beginPath();
		                this._.moveTo(point.x, point.y);
		                this._.arc(point.x, point.y, index * 7, 0, Math.PI * 2, false);
		                this._.closePath();
		                this._.fill();
		            },
		            
		            path: [
		                ['arc', 50, 50, 30, 0, 360]
		            ]
		        });
		        circle.play();
		        $('#overlay').append(circle.canvas);
			}
		</script>
	</head>
	
	<body class="offsetfootermargin" {% block bodytag %}{% endblock %} style="background-color: #99ffff;">
		{% block header %}
			<div class="fitcontent" class="container" style="width:100%; padding: 0px">
				<nav class="navbar navbar-default" style="width:100%;">
					<div class="container-fluid" style="width:100%;">
						<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="width:100%; padding-top:10px; background-color: #aeeaae; font-size: 200%;">


							<div class="col-sm-1" style="padding-left:5px; padding-right:5px;">
								<a href="/">
									<img class="noborder size-full aligncenter" src="{% static 'images/kiramama.png' %}" scale="0">
								</a>
							</div>

							<div class="col-sm-9" style="text-align:center;">
								<div class="brand-app" style="text-align:center;"><a href="/"><font face="times new roman">Kiramama</font></a></div>
								<br>
								<div style="color:#000000; text-align:center;"><font face="times new roman" size="3">
								<!--<marquee>-->
								<!--{% trans "Suivi des premiers 1000 jours de la vie, prévention des décès  inutiles des mères et des nouveau-nés" %}-->
								<!--</marquee>-->
								</font></div>
							</div>

							<div class="col-sm-1" >
								<img class="noborder size-full aligncenter" src="{% static 'images/burundi.png' %}" scale="0">
							</div>

							<div class="col-sm-1" >
								<font face="times new roman" size="3">
								{% if user.is_authenticated %}
									<a role="button" href="/logout">{% trans "Logout" %}</a>
								{% else %}
									<a role="button" href="/login">{% trans "Login" %}</a>
								{% endif %}
								</font>
							</div>


						</div>
					</div>
				</nav>
			</div>
		{% endblock %}
		
		{% if user.is_authenticated %}
			{% block navbar %}
				<div role="presentation" class="fitcontent" id="nav">
					<ul id="nav nav-pills">
						<li role="presentation"><a role="button" href="/home">{% trans "Home" %}</a></li>
						<li role="presentation"><a role="button" href="/communityhealthworker">{% trans "Community Health Workers" %}</a></li>



						<li role="presentation" class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      {% trans "Maternal Health" %} <span class="caret"></span>
    						</a>
    						<ul class="dropdown-menu">
      							<li><a href="/maternalhealth">{% trans "Maternal Health" %}</a></li>
      							<li><a href="/births">{% trans "Deliveries" %}</a></li>
      							<li><a href="/risks">{% trans "Risks" %}</a></li>
      							<li><a href="/red_alerts">{% trans "Red Alerts" %}</a></li>
      							<li><a href="/deaths">{% trans "Deaths" %}</a></li>
      							<li><a href="/reminders">{% trans "Reminders" %}</a></li>
    						</ul>

						</li>

						
						<li role="presentation"><a role="button" href="/childhealth">{% trans "Child Health" %}</a></li>
						<li role="presentation"><a role="button" href="/logout">{% trans "Logout" %}</a></li>
						
					</ul>
				</div>
			{% endblock %}
		{% endif %}
		
		<div class="fitcontent" id="divmain" class="container-fluid">
			<div id="divinnermain" class="container-fluid">
				{% block container %}
					
		
				{% endblock %}
			</div>
		</div>
		
		{% block footer %}
			<div class="fitcontent" id="footer-widgets" class="footer-widgets">
				<div class="wrap">
					<div class="row">
						<div class="col-sm-4" style="overflow:auto;">
							<div class="footer-widgets-2 widget-area">
								<div class="widget-wrap">
									<p style="text-align: center;">
										<img class="noborder size-full aligncenter" src="{% static 'images/moh1.jpg' %}" scale="0">
									</p>
								</div>
							</div>
						</div>

						<div class="col-sm-4" style="overflow:auto;">
							<div class="footer-widgets-1 widget-area">
								<div class="widget">
									<div class="widget-wrap">
										<p class="copyright text-muted small" style="text-align: center;">
											© 2017
												{% trans "Unicef Burundi" %}
										</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4" style="overflow:auto;">
							<div class="footer-widgets-2 widget-area">
								<div class="widget-wrap">
									<p style="text-align: center;">
										<img class="noborder size-full aligncenter" src="{% static 'images/unicef-cyan-logo1.png' %}" scale="0">
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>