{% load i18n %}
{% load staticfiles %}

<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		
		<title>UNICEF BURUNDI | {% if pagetitle %} | {{ pagetitle }}{% endif %}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oxygen:300">
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!-- Local css-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'fonts/css/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'js/Messi-master/messi.min.css' %}">
		
		<!-- Local js -->
		<script type="text/javascript" src="{% static 'js/Messi-master/messi.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/spin.js' %}"></script>

		{% block head %}
		
		{% endblock %}
		
		<script language="JavaScript">
			$(document).ready(function() {
				
				$("input:submit, a.button").button();
				{% if notification %}
					showNotification("{{ notification }}");
				{% endif %}
				
				if (!window.jQuery) {
					messiprompt({% trans "Your internet connection is not reliable. Computations not possible." %}, {% trans "Internet Connection" %}, "messierror");
					return;
				}
			});
			
		
			function messiprompt(msg, title, titleanimation) {
				var titleclass;

				if (titleanimation == "messisuccess") {
					titleclass = 'success';

				} else if (titleanimation == "messiinfo") {
					titleclass = 'info';

				} else if (titleanimation == "messiwarning") {
					titleclass = 'anim warning';

				} else if (titleanimation == "messierror") {
					titleclass = 'anim error';
				}

				new Messi(msg, { title: title, titleClass: titleclass, modal: true });
			}
			
			
			
		</script>
	</head>
	
	<body class="offsetfootermargin" {% block bodytag %}{% endblock %}>
		{% block header %}
			<div class="fitcontent" class="container" style="width:100%; padding: 0px">
				<nav class="navbar navbar-default" style="width:100%;">
					<div class="container-fluid" style="width:100%;">
						<div class="navbar-header" style="width:100%;">
							<button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
								<span class="sr-only">{% trans "Toggle navigation" %}</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						
						<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="width:100%; padding-top:10px;">
							<ul class="nav navbar-nav navbar" style="width:100%">
								<h1 class="bet-logo">
									<a href="/">
										<div class="col-sm-1" style="padding-left:5px; padding-right:5px;">
											<img class="noborder size-full aligncenter" src="{% static 'images/kiramama.png' %}" scale="0">
										</div>
										<div class="col-sm-9 verticallineseparator" style="padding-left:5px; padding-right:5px;">
											<span class="brand-app" style="text-align:center;">Kiramama</span>
											<span style="color:#000000; text-align:center;"> - {% trans "Tracking The first 1000 Days of Life, Preventing unnecessary mother and newborn  deaths" %}</span>
										</div>
										<div class="col-sm-1" style="padding-left:5px; padding-right:5px;">
											<img class="noborder size-full aligncenter" src="{% static 'images/burundi.png' %}" scale="0">
										</div>
										<div class="col-sm-1" style="padding-left:5px; padding-right:5px;">
											{% if user.is_authenticated %}
												<li><a role="button" href="/logout">{% trans "Logout" %}</a></li>
											{% else %}
												<li><a role="button" href="/login">{% trans "Login" %}</a></li>
											{% endif %}
										</div>

									</a>
								</h1>
							</ul>
							<!--<ul class="nav navbar-nav navbar-right">
								{% if sessionid %}
									<li><a role="button" href="/changepassword">Change Password</a></li>
									<li><a role="button" href="/logout">Logout</a></li>
								{% else %}
									<li><a role="button" href="/login">Login</a></li>
								{% endif %}
							</ul>-->
						</div>
					</div>
				</nav>
			</div>
		{% endblock %}
		
		<div class="kiramama-iamge-content container-fluid" style="padding-left:0px; padding-right:0px;">
			<div class="row">
				<div class="col-md-12 sub-page-content">
					<img class="noborder size-full aligncenter" src="{% static 'images/kiramama-photo1.png' %}" scale="0">
				</div>
			</div>
		</div>

		<div class="fitcontent" id="divmain" class="container-fluid">
			<div id="divinnermain" class="container-fluid">
				{% block container %}
					
		
				{% endblock %}
			</div>
		</div>
		
		{% block footer %}
			<div class="fitcontent" id="footer-widgets" class="footer-widgets">
				<div class="wrap">
					<div class="row">
						<div class="col-sm-4" style="overflow:auto;">
							<div class="footer-widgets-2 widget-area">
								<div class="widget-wrap">
									<p style="text-align: center;">
										<img class="noborder size-full aligncenter" src="{% static 'images/moh.jpg' %}" scale="0">
									</p>
									<p style="text-align: center;">
										<a target="_blank" href="http://www.minisante.bi">www.minisante.bi</a>
									</p>
								</div>
							</div>
						</div>

						<div class="col-sm-4 verticallineseparator" style="overflow:auto;">
							<div class="footer-widgets-1 widget-area">
								<div class="widget">
									<div class="widget-wrap">
										<h4 class="widget-title widgettitle">{% trans "Contact Us" %}</h4>
										<p class="overview">
											{% trans "Ministry of Public Health and the fight against AIDS" %}
											<a href="https://www.minisante.bi">{% trans "Visit our website" %}</a>
											{% trans "for more information." %}
										</p>
										<p class="overview">
											Bujumbura Avenue.......,
											
											Bujumbura, Burundi.
										</p>
										<p>
											<a href="mailto:info[@]minisante.bi">
											<img class="alignleft" width="18" height="18" alt="Email-icon" src="{% static 'images/Email-icon-150x150.png' %}" scale="0">
											  info[@]minisante.bi 
											<br>
											</a>
										</p>
										<p>
											<img class="alignleft" width="18" height="18" alt="telephone-icon-grey" src="{% static 'images/telephone-icon-grey-150x150.png' %}" scale="0">
											<span class="skype_c2c_print_container notranslate">+257 00 000000</span>
										</p>
										<p class="copyright text-muted small">
											© 2017
											<span class="separator">|</span>
												{% trans "Powered by Open-Source" %}
										</p>
										<p class="copyright text-muted small">
											© {% trans "All Photos by" %}
											<a href="http://www.unicef.org"> UNICEF BURUNDI </a>
										</p>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4 verticallineseparator" style="overflow:auto;">
							<div class="footer-widgets-2 widget-area">
								<div class="widget-wrap">
									<p style="text-align: center;">
										<img class="noborder size-full aligncenter" src="{% static 'images/unicef-cyan-logo.png' %}" scale="0">
									</p>
									<p style="text-align: center;">
										<a target="_blank" href="http://www.unicef.org">www.unicef.org</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endblock %}
	</body>
</html>