{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<title> {{ pagetitle }}</title>
{% endblock %}

{% block pagename %}pagename{% endblock %}

{% block head %}
	<script language="JavaScript">
		var messimsg;
		var messititle;
		var titleanimation;
		
		$(document).ready(function() {
			$('.datepicker').datepicker({
			    dateFormat: 'yy-mm-dd',
			    startDate: '-3d'
			});

			$(".datepicker").datepicker("setDate", new Date());
			
			if ((".divmessage").length) {
				$(".divmessage").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800).fadeOut('slow'); 
			}
			
			if ((".diverror").length) {
				$(".diverror").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800); 
			}

			if ("{{ provinces }}") {
				{% for c in provinces %}
					$('#cmbprovince').append('<option value="{{ c.code }}">{{ c.name }}</option>');
				{% endfor %}
			}

			fetchwanteddata()

		});
		

		<!-- ajax call to database -->
		function fetchdistricts(code) {
			$("#cmbdistrict option").each(function(){
        		if ($(this).val()) {
        			$(this).remove();
        		}
		    });
		    $("#cmbcds option").each(function(){
        		if ($(this).val()) {
        			$(this).remove();
        		}
		    });

		    $('#divmh').empty();
			if (code) {
				//initializesonic();

				ajaxurl = 'getdistrictsinprovince';
	            data = JSON.stringify({ 'code': code });

	            ajaxpostbackfunction = "fetchdistricts";
	            ajaxpost(ajaxurl, data);
	        }
		}


		<!-- ajax call to database -->
		function fetchCDS(code) {
			$("#cmbcds option").each(function(){
        		if ($(this).val()) {
        			$(this).remove();
        		}
		    });

			$('#divmh').empty();
			if (code) {
				//initializesonic();

				ajaxurl = 'getcdsindistrict';
	            data = JSON.stringify({ 'code': code });

	            ajaxpostbackfunction = "fetchcds";
	            ajaxpost(ajaxurl, data);
	        }
		}


		function fetchwanteddata() {
			console.log("======Debut  fetchwanteddata====")
			if (new Date($('#dstartdate').val()) > new Date($('#dendtdate').val())) {
                messimsg = "Start date cannot e more than End date";
                messititle = "Invalid Date Selection";
                titleanimation = "messierror";
                messiprompt(messimsg, messititle, titleanimation);
                $('#overlay').remove();
                return;
			}
	    	initializesonic();
	    	
	    	ajaxurl = 'get_child_health_data';
    		var level = null;
    		var code = null;
    		var start_date = null;
    		var end_date = null;

    		if ($('#cmbprovince').val() != "") {
    			level = "province";
    			code = $('#cmbprovince').val();
    		}else{
    			level = "national";
    			code = -1;
    		}
    		if ($('#cmbdistrict').val() != "") {
    			level = "district";
    			code = $('#cmbdistrict').val();
    		}
    		if ($('#cmbcds').val() != "") {
    			level = "cds";
    			code = $('#cmbcds').val();
    		}

    		if ($('#dstartdate').val() != "") {
    			start_date = $('#dstartdate').val();
    		}

    		if ($('#dendtdate').val() != "") {
    			end_date = $('#dendtdate').val();
    		}

			$('#divmh').empty();

    		if (level && code && start_date && end_date) {
		        data = JSON.stringify({ 'level': level, 'code': code, 'start_date': start_date, 'end_date': end_date });

	            ajaxpostbackfunction = "get_child_health_data";
	            ajaxpost(ajaxurl, data);

	        } else {
	        	$('#overlay').remove();
	        }
	    }


		function ajaxpost(posturl, data) {
		        ajaxresults = null;
		        $.ajax({
		        	beforeSend: function(xhr, settings) {
				        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				            xhr.setRequestHeader("X-CSRFToken", csrftoken);
				        }
				    },
		            type: 'POST',
		            url: posturl,
		            data: data,
		            contentType: 'application/json; charset=utf-8',
		            dataType: 'json',

		            success: function (response) {
		                if (ajaxpostbackfunction == "fetchdistricts") {
		                	for (i = 0; i < response.length; i++) {
		                		var code = jQuery.makeArray(response[i].fields)[0].code;
		                		var name = jQuery.makeArray(response[i].fields)[0].name;
		                		
		                		$('#cmbdistrict').append('<option value=' + code +'>' + name + '</option>');
    						}
    						// fetch wanted data
		                	fetchwanteddata();
		                } else if (ajaxpostbackfunction == "fetchcds") {
		                	for (i = 0; i < response.length; i++) {
		                		var code = jQuery.makeArray(response[i].fields)[0].code;
		                		var name = jQuery.makeArray(response[i].fields)[0].name;
		                		
		                		$('#cmbcds').append('<option value=' + code +'>' + name + '</option>');
    						}

    						// fetch wanted data
		                	fetchwanteddata();

		                } else if (ajaxpostbackfunction == "get_child_health_data") {
		                	if (response.length > 0) {
		                		var dict = {};
		                		if($('#cmbprovince').val() == ""){
		                			// We will list provinces in the table
		                			location_column = "bps_name";
		                		}else{
		                			if($('#cmbdistrict').val() == ""){
		                				// We will list districts in the table
		                				location_column = "district_name";
		                			}else{
		                				if($('#cmbcds').val() == ""){
		                					// We will list CDSs in the table
		                					location_column = "cds_name";
		                				}else{
		                					//We will show one CDS in the table
		                					location_column = "cds_name";
		                				}
		                			}
		                		}

		                		for (var i = 0; i < response.length; i++){
		                			
		                			location_name = response[i][location_column];
		                			if((response[i]["birth_date"] >= $('#dstartdate').val()) && (response[i]["birth_date"] <= $('#dendtdate').val())){
		                			if (dict.hasOwnProperty(location_name)){
		                				dict[location_name][0] += 1;
		                			}else{
		                				dict[location_name] = [1,0,0,0,0,0];
		                			}
		                			if(response[i]["risk_level_id"] > 1){
		                				//Let's take risk level greater than one is high risk
		                				dict[location_name][1] += 1;
		                			}}


		                			if((response[i]["expected_delivery_date"] >= $('#dstartdate').val()) && (response[i]["expected_delivery_date"] <= $('#dendtdate').val())){
		                				if (dict.hasOwnProperty(location_name)){
		                					dict[location_name][2] += 1;
		                				}else{
		                					dict[location_name] = [0,0,1,0,0,0,0];
		                				}
										
										if(response[i]["risk_level_id"] > 1){
											dict[location_name][3] += 1;
										}
									}
									var exp_der_date = new Date(response[i]["expected_delivery_date"]);
									var selected_start_date = new Date($('#dstartdate').val());
									var selected_end_date = new Date($('#dendtdate').val());
									var end_date = new Date($('#dendtdate').val());
									end_date.setDate(end_date.getDate() + 14);
									var reg_gro_date = new Date(response[i]["reporting_date"]);
									var derivery_date = new Date(response[i]["birth_date"]);

									if(((reg_gro_date <= selected_end_date) && (derivery_date > selected_end_date)) || ((reg_gro_date <= selected_end_date) && (isNaN(derivery_date))))
										{
										if (dict.hasOwnProperty(location_name)){
		                					dict[location_name][4] += 1;
		                				}else{
		                					dict[location_name] = [0,0,0,0,1,0,0];
		                				}
									}

									//if((exp_der_date <= end_date) && (isNaN(derivery_date)))
									if((exp_der_date >= selected_end_date) && (exp_der_date <= end_date)){
										if (dict.hasOwnProperty(location_name)){
		                					dict[location_name][5] += 1;
		                				}else{
		                					dict[location_name] = [0,0,0,0,0,1,0];
		                				}
		                				if(response[i]["risk_level_id"] > 1){
											dict[location_name][6] += 1;
										}
									}
		                		}

		                		console.log("BBBBB");

		                		if (Object.keys(dict).length > 0){
		                			console.log("CCCCC");
		                			$('#divmh').append('<p><b>{% trans "PREGNANCY REPORTS STATISTICS" %}</b></p>' +

									'<div style="clear:both; height:10px;"></div>' +

									'<table id="tblmh" class="table table-striped table-bordered table-condensed">');
									
									$('#tblmh').append('<thead>' +
										'<th>{% trans "Location" %}</th><th>{% trans "Number of births" %}</th><th>{% trans "Delivery at home" %}</th><th>{% trans "Delivery on road" %}</th><th>{% trans "Delivery at health facility" %}</th><th>{% trans "Breastfeeding within 60 min" %}</th><th>{% trans "Breastfeeding after 60 min" %}</th>' +
									'</thead>' +
										
									'<tbody>' +
										
									'</tbody>');

									var keys = Object.keys(dict);

									
									keys.forEach(function(key){

										var number_registered = parseFloat(dict[key][0]);
										$('#tblmh').find('tbody').append('<tr style="cursor:pointer;"></tr>');

										$('#tblmh tr:last').append('<td>' + key +'</td>');
										$('#tblmh tr:last').append('<td><a href="#" onclick = "displayRegPreDetails(this)">'+ number_registered +'</a></td>');

										$('#tblmh tr:last').append('<td><a href="#" onclick = "displayRegPreDetails(this)">'+ number_registered +'</a></td>');
										$('#tblmh tr:last').append('<td><a href="#" onclick = "displayRegPreDetails(this)">'+ number_registered +'</a></td>');
										$('#tblmh tr:last').append('<td><a href="#" onclick = "displayRegPreDetails(this)">'+ number_registered +'</a></td>');
										$('#tblmh tr:last').append('<td><a href="#" onclick = "displayRegPreDetails(this)">'+ number_registered +'</a></td>');
										$('#tblmh tr:last').append('<td><a href="#" onclick = "displayRegPreDetails(this)">'+ number_registered +'</a></td>');

									});


									
									$('#tblmh').DataTable({
										dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
											"<'row'<'col-sm-12'tr>>" +
											"<'row'<'col-sm-4'B><'col-sm-8'p>>",
										pagingType: "full_numbers",
										lengthMenu: [
								            [10, 25, 50, 100, -1 ],
								            ['10', '25', '50', '100', 'All' ]
								        ],
								        buttons: [
								            'copy', 'csv', 'excel', 'pdf', 'print'
								        ]
									});
		                		}

		                	}else {
		                		$('#divmh').append('<p style="color:red;">No records found</p>');
		                	}
		                }

		                $('#overlay').remove();
		            },

		            failure: function (json) {
		                messimsg = "Error";
		                messititle = "Error";
		                titleanimation = "messierror";
		                messiprompt(messimsg, messititle, titleanimation);
		               $('#overlay').remove();
		            },

		            error: function (jqXHR, exception) {
		                messimsg = getajaxerrormessage(jqXHR, exception); //jqXHR.responseText;
		                messititle = "error";
		                titleanimation = "messierror";
		                messiprompt(messimsg, messititle, titleanimation);
		                $('#overlay').remove();
		            }
		        });
		        
		        return false;
		    }



		    function displayRegPreDetails(key=0){
			location_name = key.closest('tr').getElementsByTagName('td')[0].innerHTML;
			location_level = null
			
			if ($('#cmbprovince').val() == ""){
				location_level = "PROVINCE";
			}else{
				if ($('#cmbdistrict').val() == ""){
					location_level = "DISTRICT";
				}else{
					location_level = "CDS";
				}
			}

			start_date = $('#dstartdate').val();
			end_date = $('#dendtdate').val();

			
			window.open('registered_preg_details/?location_name='+location_name+'&location_level='+location_level+'&start_date='+start_date+'&end_date='+end_date,'','fullscreen=yes');
			}

			function displayHRRegPreDetails(key=0){
			location_name = key.closest('tr').getElementsByTagName('td')[0].innerHTML;
			location_level = null
			
			if ($('#cmbprovince').val() == ""){
				location_level = "PROVINCE";
			}else{
				if ($('#cmbdistrict').val() == ""){
					location_level = "DISTRICT";
				}else{
					location_level = "CDS";
				}
			}

			start_date = $('#dstartdate').val();
			end_date = $('#dendtdate').val();
			
			window.open('h_r_registered_preg_details/?location_name='+location_name+'&location_level='+location_level+'&start_date='+start_date+'&end_date='+end_date,'','fullscreen=yes');
			}

			function displayExpectedDerivery(key=0){
			location_name = key.closest('tr').getElementsByTagName('td')[0].innerHTML;
			location_level = null
			
			if ($('#cmbprovince').val() == ""){
				location_level = "PROVINCE";
			}else{
				if ($('#cmbdistrict').val() == ""){
					location_level = "DISTRICT";
				}else{
					location_level = "CDS";
				}
			}

			start_date = $('#dstartdate').val();
			end_date = $('#dendtdate').val();

			
			window.open('expected_delivery_details/?location_name='+location_name+'&location_level='+location_level+'&start_date='+start_date+'&end_date='+end_date,'','fullscreen=yes');
			}


			function displayHREDDetails(key=0){
			location_name = key.closest('tr').getElementsByTagName('td')[0].innerHTML;
			location_level = null
			
			if ($('#cmbprovince').val() == ""){
				location_level = "PROVINCE";
			}else{
				if ($('#cmbdistrict').val() == ""){
					location_level = "DISTRICT";
				}else{
					location_level = "CDS";
				}
			}

			start_date = $('#dstartdate').val();
			end_date = $('#dendtdate').val();

			
			window.open('hr_expected_delivery_details/?location_name='+location_name+'&location_level='+location_level+'&start_date='+start_date+'&end_date='+end_date,'','fullscreen=yes');
			}

			function displayPWSEDDetails(key=0){
			location_name = key.closest('tr').getElementsByTagName('td')[0].innerHTML;
			location_level = null
			
			if ($('#cmbprovince').val() == ""){
				location_level = "PROVINCE";
			}else{
				if ($('#cmbdistrict').val() == ""){
					location_level = "DISTRICT";
				}else{
					location_level = "CDS";
				}
			}

			start_date = $('#dstartdate').val();
			end_date = $('#dendtdate').val();

			
			window.open('p_w_s_e_d_details/?location_name='+location_name+'&location_level='+location_level+'&start_date='+start_date+'&end_date='+end_date,'','fullscreen=yes');
			}

			function displayPWEDNTWDetails(key=0){
			location_name = key.closest('tr').getElementsByTagName('td')[0].innerHTML;
			location_level = null
			
			if ($('#cmbprovince').val() == ""){
				location_level = "PROVINCE";
			}else{
				if ($('#cmbdistrict').val() == ""){
					location_level = "DISTRICT";
				}else{
					location_level = "CDS";
				}
			}

			start_date = $('#dstartdate').val();
			end_date = $('#dendtdate').val();

			
			window.open('p_w_e_d_next_2_w_details/?location_name='+location_name+'&location_level='+location_level+'&start_date='+start_date+'&end_date='+end_date,'','fullscreen=yes');
			}

			function displayHRPWEDNTWDetails(key=0){
			location_name = key.closest('tr').getElementsByTagName('td')[0].innerHTML;
			location_level = null
			
			if ($('#cmbprovince').val() == ""){
				location_level = "PROVINCE";
			}else{
				if ($('#cmbdistrict').val() == ""){
					location_level = "DISTRICT";
				}else{
					location_level = "CDS";
				}
			}

			start_date = $('#dstartdate').val();
			end_date = $('#dendtdate').val();

			
			window.open('h_r_p_w_e_d_next_2_w_details/?location_name='+location_name+'&location_level='+location_level+'&start_date='+start_date+'&end_date='+end_date,'','fullscreen=yes');
			}
		 

	</script>
{% endblock %}


{% block container %}
	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}
	</div>
	
	<div>
		<div class="form-inline" style="padding-left :5px; padding-right :5px;">
			<div class="form-group">
				<label for="cmbprovince">{% trans "Province:" %}</label>
				<select id="cmbprovince" class="form-control" style="width:140px" onchange="fetchdistricts(this.value)" required="required">
					<option value="" selected="selected">[ {% trans "Select Province" %} ]</option>
				</select>
			</div>
			<div class="form-group">
				<label for="cmbdistrict">District:</label>
				<select id="cmbdistrict" class="form-control" style="width:140px" onchange="fetchCDS(this.value)" required="required">
					<option value="" selected="selected">[ {% trans "Select District" %} ]</option>'
				</select>
			</div>
			<div class="form-group">
				<label for="cmbcds">CDS:</label>
				<select id="cmbcds" class="form-control" style="width:140px" onchange="fetchwanteddata()" required="required">
					<option value="" selected="selected">[ {% trans "Select CDS" %} ]</option>'
				</select>
			</div>

			<label for="dstartdate">{% trans "Start Date:" %}</label>
			<div class="input-group date" data-provide="datepicker">
			    <input type="text" id="dstartdate" class="form-control datepicker" readonly="readonly" style="width:130px" required="required" onchange="fetchwanteddata()">
			    <div class="input-group-addon">
			        <span class="glyphicon glyphicon-th"></span>
			    </div>
			</div>

			<label for="dendtdate">{% trans "End Date:" %}</label>
			<div class="input-group date" data-provide="datepicker">
			    <input type="text" id="dendtdate" class="form-control datepicker" readonly="readonly" style="width:130px" required="required" onchange="fetchwanteddata()">
			    <div class="input-group-addon">
			        <span class="glyphicon glyphicon-th"></span>
			    </div>
			</div>
		</div>

		<hr style="margin-top:10px; margin-bottom:10px">
		
		<div id="divmh" class="form-inline" style="padding-left :5px; padding-right :5px;">

		</div>

	</div>
{% endblock %}