{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<title> {{ pagetitle }}</title>
{% endblock %}

{% block pagename %}pagename{% endblock %}

{% block head %}
	<script language="JavaScript">
		var messimsg;
		var messititle;
		var titleanimation;
		var ajaxpostbackfunction = null;
		var ajaxurl;
		var data;
		
		$(document).ready(function() {
			$('.datepicker').datepicker({
			    dateFormat: 'yy-mm-dd',
			    startDate: '-3d'
			});
			$(".datepicker").datepicker("setDate", new Date());

			if ("{{ provinces }}") {
				{% for c in provinces %}
					$('#cmbprovince').append('<option value="{{ c.code }}">{{ c.name }}</option>');
				{% endfor %}

				fetchcdsdata();
			}

			if ((".divmessage").length) {
				$(".divmessage").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800).fadeOut('slow'); 
			}
			
			if ((".diverror").length) {
				$(".diverror").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800); 
			}
		});
		
		$(window).load(function () {
			
		});

		<!-- ajax call to database -->
		function fetchdistricts(code) {
			$("#cmbdistrict option").each(function(){
        		if ($(this).val()) {
        			$(this).remove();
        		}
		    });
		    $("#cmbcds option").each(function(){
        		if ($(this).val()) {
        			$(this).remove();
        		}
		    });

		    $('#divchw').empty();
			if (code) {
				initializesonic();

				ajaxurl = 'getdistrictsinprovince';
	            data = JSON.stringify({ 'code': code });

	            ajaxpostbackfunction = "fetchdistricts";
	            ajaxpost(ajaxurl, data);
	        }
		}

		<!-- ajax call to database -->
		function fetchCDS(code) {
			$("#cmbcds option").each(function(){
        		if ($(this).val()) {
        			$(this).remove();
        		}
		    });

			$('#divchw').empty();
			if (code) {
				initializesonic();

				ajaxurl = 'getcdsindistrict';
	            data = JSON.stringify({ 'code': code });

	            ajaxpostbackfunction = "fetchcds";
	            ajaxpost(ajaxurl, data);
	        }
		}

		function fetchcdsdata() {
			
	    	initializesonic();
	    	
	    	ajaxurl = 'getcdsdata';
    		var level = null;
    		var code = null;

    		if ($('#cmbprovince').val() != "") {
    			level = "province";
    			code = $('#cmbprovince').val();
    		}
    		if ($('#cmbdistrict').val() != "") {
    			level = "district";
    			code = $('#cmbdistrict').val();
    		}
    		if ($('#cmbcds').val() != "") {
    			level = "cds";
    			code = $('#cmbcds').val();
    		}

			$('#divchw').empty();

	        data = JSON.stringify({ 'level': level, 'code': code });

            ajaxpostbackfunction = "fetchcdsdata";
            ajaxpost(ajaxurl, data);

	    }
	    
		function ajaxpost(posturl, data) {
	        $.ajax({
	        	beforeSend: function(xhr, settings) {
			        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
			            xhr.setRequestHeader("X-CSRFToken", csrftoken);
			        }
			    },
	            type: 'POST',
	            url: posturl,
	            data: data,
	            contentType: 'application/json; charset=utf-8',
	            dataType: 'json',

	            success: function (response) {
	                if (ajaxpostbackfunction == "fetchdistricts") {
	                	for (i = 0; i < response.length; i++) {
	                		var code = jQuery.makeArray(response[i].fields)[0].code;
	                		var name = jQuery.makeArray(response[i].fields)[0].name;
	                		
	                		$('#cmbdistrict').append('<option value=' + code +'>' + name + '</option>');
						}

						// fetch cds data
	                	fetchcdsdata();

	                } else if (ajaxpostbackfunction == "fetchcds") {
	                	for (i = 0; i < response.length; i++) {
	                		var code = jQuery.makeArray(response[i].fields)[0].code;
	                		var name = jQuery.makeArray(response[i].fields)[0].name;
	                		
	                		$('#cmbcds').append('<option value=' + code +'>' + name + '</option>');
						}

						// fetch cds data
	                	fetchcdsdata();

	                } else if (ajaxpostbackfunction == "fetchcdsdata") {
	                	if (response.length > 0) {
							$('#divchw').append('<p><b></b></p>' +

								'<div style="clear:both; height:10px;"></div>' +

								'<table id="tblCHWs" class="table table-striped table-bordered table-condensed">');
								
							$('#tblCHWs').append('<thead>' +
									'<th>{% trans "Province" %}</th><th>{% trans "District" %}</th><th>{% trans "CDS" %}</th><th>{% trans "Hill" %}</th><th>{% trans "Sub Hill" %}</th><th>{% trans "Phone CHW" %}</th><th>{% trans "Last seen date" %}</th>' +
								'</thead>' +
									
								'<tbody>' +
									
								'</tbody>');

							for(i = 0; i < response.length; i++)
							{	
								
								var col0 = jQuery.makeArray(response[i].province_name);

								var col1 = jQuery.makeArray(response[i].district_name);

								var col2 = jQuery.makeArray(response[i].cds_name);

								var col3 = jQuery.makeArray(response[i].colline_name);

								var col4 = jQuery.makeArray(response[i].sub_colline_name);

								var col5 = jQuery.makeArray(response[i].phone_number);

								var col6 = jQuery.makeArray(response[i].last_seen);

								$('#tblCHWs').find('tbody').append('<tr style="cursor:pointer;"></tr>');

								$('#tblCHWs tr:last').append('<td>' + col0 +'</td>');
								$('#tblCHWs tr:last').append('<td>' + col1 +'</td>');
								$('#tblCHWs tr:last').append('<td>' + col2 +'</td>');
								$('#tblCHWs tr:last').append('<td>' + col3 +'</td>');
								$('#tblCHWs tr:last').append('<td>' + col4 +'</td>');
								$('#tblCHWs tr:last').append('<td>' + col5 +'</td>');
								$('#tblCHWs tr:last').append('<td>' + col6 +'</td>');
								

							}

								$('#tblCHWs').DataTable({
															dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
																"<'row'<'col-sm-12'tr>>" +
																"<'row'<'col-sm-4'B><'col-sm-8'p>>",
															pagingType: "full_numbers",
															lengthMenu: [
													            [10, 25, 50, 100, -1 ],
													            ['10', '25', '50', '100', 'All' ]
													        ],
													        buttons: [
													            'copy', 'csv', 'excel', 'pdf', 'print'
													        ]
														});

						} else {
							$('#divchw').append('<p style="color:red;">No records found</p>');
						}
	                }

	                $('#overlay').remove();
	            },

	            failure: function (json) {
	                messimsg = "Error";
	                messititle = "Error";
	                titleanimation = "messierror";
	                messiprompt(messimsg, messititle, titleanimation);
	               $('#overlay').remove();
	            },

	            error: function (jqXHR, exception) {
	                messimsg = getajaxerrormessage(jqXHR, exception); //jqXHR.responseText;
	                messititle = "error";
	                titleanimation = "messierror";
	                messiprompt(messimsg, messititle, titleanimation);
	                $('#overlay').remove();
	            }
	        });
	        
	        return false;
	    }


		 
	</script>
	    
{% endblock %}


{% block container %}
	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}
	</div>
	
	<div>
		<div class="form-inline" style="padding-left :5px; padding-right :5px;">
			<div class="form-group">
				<label for="cmbprovince">{% trans "Province:" %}</label>
				<select id="cmbprovince" class="form-control" style="width:140px" onchange="fetchdistricts(this.value)" required="required">
					<option value="" selected="selected">[ {% trans "Select Province" %} ]</option>'
				</select>
			</div>
			<div class="form-group">
				<label for="cmbdistrict">{% trans "District:" %}</label>
				<select id="cmbdistrict" class="form-control" style="width:140px" onchange="fetchCDS(this.value)" required="required">
					<option value="" selected="selected">[ {% trans "Select District" %} ]</option>'
				</select>
			</div>
			<div class="form-group">
				<label for="cmbcds">{% trans "CDS:" %}</label>
				<select id="cmbcds" class="form-control" style="width:140px" onchange="fetchcdsdata()" required="required">
					<option value="" selected="selected">[ {% trans "Select CDS" %} ]</option>'
				</select>
			</div>
		</div>

		<hr style="margin-top:10px; margin-bottom:10px">
		
		<div id="divchw" class="form-inline" style="padding-left :5px; padding-right :5px;">


		</div>
		
		
	</div>
{% endblock %}