{% extends "base-default.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
	<title> {{ pagetitle }}</title>
{% endblock %}

{% block pagename %}pagename{% endblock %}

{% block head %}
	<script language="JavaScript">
		var messimsg;
		var messititle;
		var titleanimation;
		
		$(document).ready(function() {
			if ((".divmessage").length) {
				$(".divmessage").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800).fadeOut('slow'); 
			}
			
			if ((".diverror").length) {
				$(".diverror").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800); 
			}
		});
		
	</script>
{% endblock %}


{% block container %}
	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}
	</div>
	
	<div>
		<div class="kiramama-content container-fluid">
			<div class="row">
				<div class="col-md-6 sub-page-content">
					<div class="row">
						<div class="col-md-12">
							<b> {% trans "A propos de Kiramama" %} </b>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 sub-page-content">
							<!--[ {% trans "MINSTRY TEXT" %} ] -->
							<b> Objectifs principaux de KIRAMAMA </b>
							<ul>
								<li>
									Améliorer le suivi des femmes enceintes jusqu’à l’accouchement ainsi que durant les 42 jours suivant (en encourageant des consultations en début de grossesse et en sensibilisant davantage la mère ou l’enfant en situations de risque) l’accouchement;
								</li>
								<li> 
									Rendre l’audit des mortalités maternelles et néonatales au sein du centre de santé de la communauté (CDS) et au niveau communautaire opérationnel ;
								</li>
								<li>
									Améliorer les Soins Obstétricaux et Néonatals d’Urgence de Base (SONUB) et les Soins Obstétricaux et Néonatals d’Urgence Complète (SONC) au sein des établissements médicaux ;
								</li>
								<li>
									Améliorer le suivi des enfants âgés entre 0 et 59 mois (incluant la vaccination, l’immunisation en rapportant de cas de malnutrition).
								</li>
							</ul>
							<b> Indicateurs </b>
							<ol>
								<li>Femmes dont la grossesse a été confirmée</li>
								<li>Femmes enceintes ayant reçu au moins 4 visites de l’ANC</li>
								<li>Complications enregistrés et signes de dangers durant la grossesse et l’accouchement</li>
								<li>Complications enregistrées et signes de dangers durant la période postpartum (jusqu’à 42 jours)</li>
								<li>Naissances</li>
								<li>Enfants complètements immunisés à 11 mois</li>
								<li>Malnutrition aigüe sévère et modéré dépistée chez les enfants (MUAC)</li>
								<li>Signes de dangers chez les enfants âgés entre 0 et 59 mois</li>
								<li>Décès maternels (jusqu’à 42 jours)</li>
								<li>Décès néonatals (0-28 jours)</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="col-md-6 sub-page-content verticallineseparator">
					<img class="noborder size-full aligncenter" src="{% static 'images/kiramama-photo2.jpg' %}" scale="0">
				</div>
			</div>
		</div>
		<hr>

		<div class="moh-content container-fluid">
			<div class="row">
				<div class="col-md-6 sub-page-content">
					<img class="noborder size-full aligncenter" src="{% static 'images/moh.jpg' %}" scale="0">
				</div>
				<div class="col-md-6 sub-page-content verticallineseparator">
					<div class="row">
						<div class="col-md-12">
							<h3>{% trans "About the Ministry" %}</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 sub-page-content">
							[ {% trans "MINSTRY TEXT" %} ]
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<hr>

		<div class="unicef-content container-fluid">
			<div class="row">
				
				<div class="col-md-6 sub-page-content">
					<div class="row">
						<div class="col-md-12">
							<b>{% trans "A propos de UNICEF" %}</b>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 sub-page-content">
							<p>
							L’UNICEF est chargé par l’Assemblée générale des Nations Unies de défendre les droits des enfants, d’aider à répondre à leurs besoins essentiels et de favoriser leur plein épanouissement.
							</p>
							<p>
							L’UNICEF mobilise la volonté politique et des ressources matérielles pour aider les pays, en particulier les pays en développement, à donner la priorité aux enfants, et pour renforcer leur capacité de formuler des politiques appropriées et de mettre en place des services en faveur des enfants et des familles.
							</p>
							<p>
							L’UNICEF intervient durant les situations d’urgence pour protéger les droits des enfants. En coordination avec les organismes des Nations Unies et les organismes humanitaires, l’UNICEF met l’infrastructure unique dont il dispose pour intervenir rapidement au service de ses partenaires afin de soulager la souffrance des enfants et de ceux qui en ont la charge.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 sub-page-content verticallineseparator">
					<img class="noborder size-full aligncenter" src="{% static 'images/unicef-cyan-logo.png' %}" scale="0">
				</div>
			</div>
		</div>
		<hr>

		<div class="statistics-content container-fluid">
			<div class="row">
				<div class="col-md-6 sub-page-content">
					<img class="noborder size-full aligncenter" src="{% static 'images/current-statistics1.jpg' %}" scale="0">
				</div>
				<div class="col-md-6 sub-page-content verticallineseparator">
					<div class="row">
						<div class="col-md-12">
							<b>{% trans "Informations sur les statistiques actuelles" %}</b>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 sub-page-content">
							<p>
								L’étude démographique et de santé effectuée sur la mortalité maternelle en 2010 montre que pour 100,000 naissances vivantes il y a eu 500 décès. Cela confirme que le suivi de mortalité maternelle est une tâche difficile.
							</p>
							<p>
								Le taux élevé de mortalité maternelle est principalement dû à une faible utilisation des services de planification familiale ainsi qu’un faible accès à des services de qualité en cas d’urgence. La majorité des mortalités maternelles surviennent juste avant, pendant ou immédiatement après l’accouchement avec une plus faible proportion qui n’est pas directement liée à la grossesse.
							</p>
							<p>
								Le Burundi figure parmi les pays africains qui enregistrent des progrès encourageants notamment en matière de réduction de la mortalité maternelle. En effet, le ratio de mortalité maternelle qui était estimé à 1100 décès maternels pour 100 000 naissances  vivantes en 1990 (MMEG) est passé  à 500 décès maternels pour 100 000 naissances  vivantes en 2010 (EDS 2010). Ceci est d’autant plus vraisemblable que l’ensemble des indicateurs de processus que sont le taux d’accouchement assisté et le taux de prévalence contraceptive ont été multipliés respectivement par 4 (passant de 17.8 à 78 % de 2000 à 2015) et par 13 (passant de 2.7 à 37.4% durant la même période). 
							</p>
							<p>
								En dépit de ces progrès encourageants, des efforts doivent être  fournis pour améliorer la qualité des services dans les formations sanitaires mais cela implique un renforcement des capacités techniques des structures sanitaires à travers entre autres la disponibilité des infrastructures adaptées, du matériel et équipements, le renforcement des capacités du personnel, ainsi que le renforcement du système de référence et contre référence.
							</p>
							<p>
								Le MSPLS avec l’appui technique et financier de l’UNICEF, ont mis en place le  projet KIRAMAMA qui a pour but d’améliorer la santé des mères et des enfants en utilisant la Technologie de l’Information et de Communication qui permet de créer un système de collecte données par SMS et une coordination logistique.
							</p>
 							<p>
								L'aspect le plus critique du projet est la capacité des agents de santé communautaire (ASC) pour rechercher activement de nouvelles grossesses dans le village. Une fois une nouvelle grossesse est identifiée, l'ASC envoie un SMS et reçoit  un message d'accuser de réception de chaque SMS envoyé. En cas d'urgence  l’ASC envoi un SMS, en même temps le service le plus proche d'ambulance et le centre de santé reçoivent une notification.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
{% endblock %}