{% extends "base.html" %}

{% block title %}
	<title> {{ pagetitle }}</title>
{% endblock %}

{% block pagename %}pagename{% endblock %}

{% block head %}
	<script language="JavaScript">
		var messimsg;
		var messititle;
		var titleanimation;
		
		$(document).ready(function() {
			if ((".divmessage").length) {
				$(".divmessage").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800).fadeOut('slow'); 
			}
			
			if ((".diverror").length) {
				$(".diverror").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800); 
			}
		});
		
		/*$(window).load(function () {
			$('#tblviewusers').dataTable({
				"pagingType": "full_numbers"
			});
		});*/
		 
	</script>
{% endblock %}


{% block container %}
	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}
	</div>
	
	<div class="row">
		<div>
			<h1>Registered Mothers: {{ registeredmothers }}</h1>
		</div>
		<div class="col-md-4">
			<h1>CPN 1: {{ cpn1 }} %</h1>
			<h1>CPN 2: {{ cpn2 }} %</h1>
			<h1>CPN 3: {{ cpn3 }} %</h1>
			<h1>CPN 4: {{ cpn4 }} %</h1>
		</div>
		<div class="col-md-4">
			<h1>Number of CHWs : {{number_of_chw}} </h1>
			<h1>Active CHWs : {{percentage_of_active_chw}} %</h1>
			<h1>Inactive CHWs : {{percentage_of_not_active_chw}} %</h1>
		</div>
		<div class="col-md-4">
			<h1>Total Delivery : {{total_delivery}}</h1>
			<h1>Delivery at home : {{percentage_delivery_at_home}}</h1>
			<h1>Delivery on Road : {{percentage_delivery_on_road}}</h1>
			<h1>Delivery on health facility : {{percentage_delivery_at_HF}}</h1>
		</div>
	</div>

	<div class="row">
		{% for obj in vac_list %}
			<h1> {{ obj }} </h1>
		{% endfor %}
	</div>
	
{% endblock %}