{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<title> {{ pagetitle }}</title>
{% endblock %}

{% block pagename %}pagename{% endblock %}

{% block head %}
	<script language="JavaScript">
		var messimsg;
		var messititle;
		var titleanimation;
		
		$(document).ready(function() {
			if ((".divmessage").length) {
				$(".divmessage").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800).fadeOut('slow'); 
			}
			
			if ((".diverror").length) {
				$(".diverror").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800); 
			}
		});



		function displayVaccinationReports(key=0){
			window.open('vaccination_reports/?vac='+key,'','fullscreen=yes');
		}

		function displayActiveCHWDetails(key=0){
			window.open('active_chw','','fullscreen=yes');
		}

		function displayInactiveCHWDetails(key=0){
			alert(key);
		}
		
	</script>
{% endblock %}


{% block container %}
	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div>
				<h1><b>{% trans "Registered Mothers" %}: {{ registeredmothers }}</b></h1>
			</div>
			<div>
				<h1>CPN 1 : {{ cpn1 }} %</h1>
				<h1>CPN 2 : {{ cpn2 }} %</h1>
				<h1>CPN 3 : {{ cpn3 }} %</h1>
				<h1>CPN 4 : {{ cpn4 }} %</h1>
			</div>
		</div>
		<div class="col-md-4">
			<div>
				<h1><b>{% trans "Community Health Workers:" %} {{ number_of_chw }}</b></h1>
			</div>
			<div>
				<h1><a href="#" onclick = "displayActiveCHWDetails()"> {% trans "Active CHWs :" %} {{ percentage_of_active_chw }} % </a></h1>
				<h1><a href="#" onclick = "displayInactiveCHWDetails()"> {% trans "Inactive CHWs :" %}" {{ percentage_of_not_active_chw }} % </a></h1>
			</div>
		</div>
		<div class="col-md-4">
			<div>
				<h1><b>{% trans "Total Delivery :" %} {{ total_delivery }}</b></h1>
			</div>
			<div>
				<h1>{% trans "Delivery at home :" %} {{ percentage_delivery_at_home }} %</h1>
				<h1>{% trans "Delivery on Road :" %} {{ percentage_delivery_on_road }} %</h1>
				<h1>{% trans "Delivery on health facility :" %} {{ percentage_delivery_at_HF }} %</h1>
			</div>
		</div>
	</div>
	
	<hr style="margin-top:10px; margin-bottom:10px">
	<div class="row">
		<div class="col-md-12">
			<div>
				<h1><b>{% trans "Vaccinations:" %}</b></h1>
			</div>
			<div>
				{% for mykey, myvalue in vac_list.items %}
				   <h1> <a href="#" onclick = "displayVaccinationReports(this.text.split(':')[0])"> {{ mykey }} : {{ myvalue }} </a> </h1>
				{% endfor %}
			</div>
		</div>
	</div>
	
{% endblock %}