{% extends "base.html" %}

{% block title %}
	<title> {{ pagetitle }}</title>
{% endblock %}

{% block pagename %}pagename{% endblock %}

{% block head %}
	<script language="JavaScript">
		var messimsg;
		var messititle;
		var titleanimation;
		
		$(document).ready(function() {
			if ((".divmessage").length) {
				$(".divmessage").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800).fadeOut('slow'); 
			}
			
			if ((".diverror").length) {
				$(".diverror").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800); 
			}
		});
		
		/*$(window).load(function () {
			$('#tblviewusers').dataTable({
				"pagingType": "full_numbers"
			});
		});*/
		 
	</script>
{% endblock %}


{% block container %}
	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}
	</div>
	
	<div>
		
		<h1>KIRAMAMA</h1>
		
		
	</div>
{% endblock %}