{% extends "base.html" %}

{% block title %}
	<title> {{ pagetitle }}</title>
{% endblock %}

{% block pagename %}pagename{% endblock %}

{% block head %}
	<script language="JavaScript">
		var messimsg;
		var messititle;
		var titleanimation;
		
		$(document).ready(function() {
			if ((".divmessage").length) {
				$(".divmessage").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800).fadeOut('slow'); 
			}
			
			if ((".diverror").length) {
				$(".diverror").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800); 
			}

			if ("{{ provinces }}") {
				{% for c in provinces %}
					$('#cmbprovince').append('<option value="{{ c.code }}">{{ c.name }}</option>');
				{% endfor %}
			}

		});
		
		/*$(window).load(function () {
			$('#tblviewusers').dataTable({
				"pagingType": "full_numbers"
			});
		});*/
		 
	</script>
{% endblock %}


{% block container %}
	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}
	</div>
	
	<div>
		<div class="form-inline" style="padding-left :5px; padding-right :5px;">
			<div class="form-group">
				<label for="cmbprovince">Province:</label>
				<select id="cmbprovince" class="form-control" style="width:140px" onchange="fetchdistricts(this.value)" required="required">
					<option value="" selected="selected">[ Select Province ]</option>
				</select>
			</div>
		</div>
		{{provinces}}		
	</div>
{% endblock %}