{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<title> {{ pagetitle }}</title>
{% endblock %}

{% block pagename %}pagename{% endblock %}

{% block head %}
	<script language="JavaScript">
		var messimsg;
		var messititle;
		var titleanimation;
		
		$(document).ready(function() {
			if ((".divmessage").length) {
				$(".divmessage").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800).fadeOut('slow'); 
			}
			
			if ((".diverror").length) {
				$(".diverror").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800); 
			}
		
		displayMotherMessagesHistory();

		});



		function displayMotherMessagesHistory(){
			$('#div_mother_message_history').append('<p><b></b></p>' +

								'<div style="clear:both; height:10px;"></div>' +

								'<table id="tbl_mother_message_history" class="table table-striped table-bordered table-condensed">');
			
								$('#tbl_mother_message_history').append('<thead>' +
									'<th>{% trans "Type" %}</th><th>{% trans "Date" %}</th><th>{% trans "Reporter" %}</th>' +
								'</thead>' +
									
								'<tbody>' +
									
								'</tbody>');

								var mother_message_history = "{{rows|safe}}"
								var report_type;
								var chw_phone_number;
								var date; 

								mother_message_history = mother_message_history.split("},");

								for(i=0; i<mother_message_history.length; i++){
									one_row = mother_message_history[i];

									var col0 = one_row.split(",")[0].split(":")[1];
									col0 = col0.replace("u","");
									col0 = col0.replace(/'/g,"").trim();

									switch(String(col0)) {
										case "GRO":
											col0 = "Enregistrement de la maman";
											break;
										case "CPN":
											col0 = "Consultation prénatale";
											break;
										case "NSC":
											col0 = "Naissance du bébé";
											break;
										case "CON":
											col0 = "Soins postnatals";
											break;
										case "VAC":
											col0 = "Vaccination";
											break;
										case "RIS":
											col0 = "Risque";
											break;
										case "RER":
											col0 = "Réponse à un risque";
											break;
										case "DEC":
											col0 = "Décès";
											break;
										case "DEP":
											col0 = "Départ";
											break;
										default:
											col0 = " - ";
									}


									var col1 = one_row.split(",")[7].split(":")[1];
									col1 = col1.replace("u","").replace("}]","");

									var col2 = one_row.split(",")[2].split(":")[1];
									col2 = col2.replace("u","");

									$('#tbl_mother_message_history').find('tbody').append('<tr style="cursor:pointer;"></tr>');

									$('#tbl_mother_message_history tr:last').append('<td>' + col0 +'</td>');

									$('#tbl_mother_message_history tr:last').append('<td>' + col1 +'</td>');

									$('#tbl_mother_message_history tr:last').append('<td>' + col2 +'</td>');
								}

								$('#tbl_mother_message_history').DataTable({
										dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
											"<'row'<'col-sm-12'tr>>" +
											"<'row'<'col-sm-4'B><'col-sm-8'p>>",
										pagingType: "full_numbers",
										lengthMenu: [
								            [10, 25, 50, 100, -1 ],
								            ['10', '25', '50', '100', 'All' ]
								        ],
								        buttons: [
								            'copy', 'csv', 'excel', 'pdf', 'print'
								        ]
									});


		}
	</script>
{% endblock %}



{% block container %}
	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}


		<div id="div_mother_message_history" class="form-inline" style="padding-left :5px; padding-right :5px;">
		<!--{{rows}}-->

		<p><b>
		<center>Incoming messages history</center>
		</b></p>

		</div>

	</div>
{% endblock %}