{% extends "base.html" %}
{% load i18n %}

{% block title %}
	<title> {{ pagetitle }}</title>
{% endblock %}

{% block pagename %}pagename{% endblock %}

{% block head %}
	<script language="JavaScript">
		var messimsg;
		var messititle;
		var titleanimation;
		
		$(document).ready(function() {
			if ((".divmessage").length) {
				$(".divmessage").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800).fadeOut('slow'); 
			}
			
			if ((".diverror").length) {
				$(".diverror").fadeIn('slow').animate({opacity: 1.0}, 1500).effect("pulsate", { times: 2 }, 800); 
			}
		
		displayVaccinationReports();

		});



		function displayVaccinationReports(){
			$('#divvaccinations').append('<p><b></b></p>' +

								'<div style="clear:both; height:10px;"></div>' +

								'<table id="tblvacination" class="table table-striped table-bordered table-condensed">');
								
								$('#tblvacination').append('<thead>' +
									'<th>{% trans "Report number" %}</th><th>{% trans "Place of vaccine" %}</th><th>{% trans "Child number" %}</th>' +
								'</thead>' +
									
								'<tbody>' +
									
								'</tbody>');

			var dict = {};
			var fetched_vaccination_reports = "{{fetched_vaccination_reports|safe}}";
			//var fetched_vaccination_reports = "{{fetched_vaccination_reports}}";
			fetched_vaccination_reports = fetched_vaccination_reports.split("},");
			for(i=0; i<fetched_vaccination_reports.length; i++)
			{	
				one_report = fetched_vaccination_reports[i];
				var col0 = one_report.split(",")[0].split(":")[1];
				var col1 = one_report.split(",")[1].split(":")[1];
				var col2 = one_report.split(",")[2].split(":")[1];
				var col3 = one_report.split(",")[3].split(":")[1];
				var col4 = one_report.split(",")[4].split(":")[1];
				col3 = col3.replace("}]","");

				$('#tblvacination').find('tbody').append('<tr style="cursor:pointer;"></tr>');
				$('#tblvacination tr:last').append('<td>' + col0 +'</td>');
				//$('#tblvacination tr:last').append('<td>' + col1 +'</td>');
				$('#tblvacination tr:last').append('<td>' + col2 +'</td>');
				//$('#tblvacination tr:last').append('<td>' + col2.replace("'","") +'</td>');
				//$('#tblvacination tr:last').append('<td>' + col3 +'</td>');
				$('#tblvacination tr:last').append('<td><a href="#" onclick = "displayChildMessagesHistory(this.text)">' + col4 +'</a></td>');

			}

			$('#tblvacination').DataTable({
										dom: "<'row'<'col-sm-3'l><'col-sm-4'i><'col-sm-5'f>>" +
											"<'row'<'col-sm-12'tr>>" +
											"<'row'<'col-sm-4'B><'col-sm-8'p>>",
										pagingType: "full_numbers",
										lengthMenu: [
								            [10, 25, 50, 100, -1 ],
								            ['10', '25', '50', '100', 'All' ]
								        ],
								        buttons: [
								            'copy', 'csv', 'excel', 'pdf', 'print'
								        ]
									});


		}


		function displayChildMessagesHistory(key=0){
			window.open('/child_message_history/?child_id='+key,'','fullscreen=yes');
		}

		
	</script>
{% endblock %}



{% block container %}
	<div>
		{% if msg %}
			<div class="divmessage"><p>{{ msg }}</p></div>
		{% endif %}
		{% if err %}
			<div class="diverror"><p>{{ err }}</p></div>
		{% endif %}

		
		<div id="divvaccinations" class="form-inline" style="padding-left :5px; padding-right :5px;">
		<p><b>
		<center>{{selected_vaccination}} Vaccination Reports</center>
		</b></p>

		</div>

	</div>
{% endblock %}